*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 11441px;
    height: 2076px;
}

#overlay{
    display: none; 
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

#model{
    max-width: 600px;
    height:300px;
    margin: auto;
    background-color: white;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

.website-content{
    height: 1000vh;
}

.website-content header{
    width: 1440px;
    height: 400px;
    /* top: -1089px;
    left: -792px; */
}

.website-content container{
    width: 1440px;
    height: 400px;
    /* top: -389px;
    left: -791px; */
    border: 10px solid black;
}

.website-content ready{
    width: 1440px;
    height: 100px;
    /* top: 590px;
    left: -792px; */
}