/* *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

body{
    width: 11441px;
    height: 2076px;
    bottom: 0;
}

#overlay{
    display: none; 
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

#overlay  #modal{
    background-color: 004047;
    border-radius: 15px 15px;
    height: 700px;

    max-width: 500px;
    /* height:300px; */
    margin: auto;
    /* background-color: white; */
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* padding: 0px 0px 0px 0px; */
}

#dir-form{
    width: 80%;
    height: 80%;
    /* background-color: blue; */
    margin: 10% 10% 10% 10%;
}

#dir-title{
    color: FFFFFF;
    width: 100%;
    height: 20%;
    /* position:absolute; */
    /* margin: 80px 80px 80px 80px; */
    font-size: 18px;
    padding-top: 50px;

    /* background-color: green; */
    /* display: none; */
}

#modal form{
    width: 100%;
    /* position: absolute; */
    /* margin: 170 80; */
    height: 80%;
    /* background-color: yellow; */
    /* display: none; */

}

#photo-div{
    width: 100%;
    /* height: 100px; */
    height: 40%;
    /* background-color: brown; */

}

#postion-name-div{
    width: 100%;
    height: 40%;
    /* background-color: black; */
}

#add-cancel{
    width: 100%;
    /* height: 70px; */
    /* margin: 50 0; */
    height:20%;
    /* background-color: red; */
}

#photo-input{
    width: 100%;
    height: 80%;
    /* background-color: white; */
    /* display: none; */
}

#photo-label{
    width: 100%;
    height: 20%;
    color: FFFFFF;
    font-size: 12px; 
    margin-top: 30px;
    /* background-color: orange; */
    /* display: none; */
}


#position-div {
    width: 100%;
    height: 50%;
    /* background-color: pink; */
    /* margin: 20px 0; */
    /* display: none; */

}

#postion{
    width: 100%;
    height: 50px;
    background-color: 004047;
    font-size: 25px;
    margin-top: 50px;
    border: 0px;

}

#overlay #modal form #postion-name-div #name-div{
    width: 100%;
    height: 50%;
    /* background-color: orangered; */
}

#name{
    width: 100%;
    height: 50px;
    background-color: 004047;
    font-size: 25px;
    margin-top: 50px;
    border: 0px;

}



#overlay #modal form #add-cancel #add-btn{
    background-color: 79C8C7;
    height: 50px;
    width: 120px;
    border-radius: 15px 15px 15px 15px;
    color: FFFFFF;
    font-size: 18px;
    float: left;
    margin-top: 70px;
    margin-left: 60px;
    /* display: none; */

}

#overlay #modal form #add-cancel #close-modal-btn {
    height: 50px;
    width: 120px;
    border-radius: 15px 15px 15px 15px;
    background-color: F67E7E;
    color: FFFFFF;
    font-size: 18px;
    float: right;
    margin-top: 70px;
    margin-right: 60px;

    /* display: none; */

}



.container{
    height: 1441px;
    
}

.container header{
    width: 1440px;
    height: 400px;
    background-color: 012F34;
    /* top: -1089px;
    left: -792px; */
}

.container #data-content{
    width: 1440px;
    height: 979px;
    /* top: -389px;
    left: -791px; */
    background-color: 004047;
}

.container #data-content #show-modal-btn{
    width: 290px;
    height: 72px;
    color: FFFFFF;
    background-color: 004047;
    border: 1px auto;
    border-color: FFFFFF;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    margin: 84px 1043px 823px 107px;
    /* 107px 1043px 823px ; */
}

.container #data-content #directors{
    width: 1400px;
    height: 58px;
    position: absolute;
    margin: 236px 19px 685px 21px;
    color: FFFFFF;
    padding-left: 84px;
}
.container #data-content #tbl-directors{
    position: absolute;
    width: 1213px;
    height: 91px;
    margin: 319px 107px 569px 120px;
    color: FFFFFF;

}

.container #ready-contact{
    width: 1440px;
    height: 200px;
    background-color: F67E7E;
    /* top: 590px;
    left: -792px; */
    /* color: 012F34; */
    /* padding: 90px 100px 50px 100px */
}

.container #ready-contact #ready-div {
    float: left;
    font-size: 25px;
    color: 004047;
}

#ready-svg {
    width: 30%;
    height: 50px;
    margin-left: 0px;
    float: left;

}

#ready-text {
    width: 70%;
    margin-left: 300px;
    margin-top: 80px;
    float: right;
    position: absolute;
    font-size: 30px;

}



.container #ready-contact #contact-div{
    float: right;
    margin-top: 60px;
    margin-left:900px;
    position: absolute;
}

.container #ready-contact #contact-div #contact-btn{
    width: 290px;
    height: 72px;
    background-color: F67E7E;
    color: 004047;
    border: 3px solid 004047; 
    border-radius: 20px 20px;
    font-size: 20px;
    border-color: 004047;
}

.container footer{
    width: 1440px;
    height: 200px;
    bottom: 0;
    /* position: fixed; */
    background-color: 002529;
    /* bottom: 0; */
    /* margin-bottom: 0px; 
    padding-bottom: 0; */
}

#compamy-address {
    float: left;
    background-color: yellow;
    width: 50%;
}



#company {
    color: FFFFFF;
    /* position: absolute; */
    width: 150px;
    background-color: red;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}


#address {
    color: 979797;
    /* position: absolute; */
    width: 150px;
    background-color: blue;
    float: right;
    margin-top: 20px;

}

#copy-social {
    color: 979797;
    /* position: absolute; */
    width: 280px;
    height: 60px;
    background-color: green;
    float: right;
    /* width: 50%; */
    margin-right: 150px;
    margin-top: 20px;

}