footer {
    background: var(--darkGreen);
    width: 100vw;
  }
  
  .footer-container {
    padding: 4.125rem 4.125rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  .logo {
    width: 6rem;
    margin-bottom: 1.5rem;
  }
  
  .footer-tools {
    margin-bottom: 1.5rem;
  }

  .footer-tool{
    margin-right: 1rem;
  }
  
  
  .footer-address {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 2.5rem;
  }
  
  .socials {
    margin-bottom: 1rem;
  }
  
  .social-Icon {
    padding: 0 0.5rem;
  }
  
  .copyright {
    color: rgba(255, 255, 255, 0.6);
  }
  
  @media screen and (min-width: 48rem) {
    .footer-container {
      padding: 3.5rem 2.5rem;
      grid-template-areas:
        'logo address'
        'links address'
        'socials copyright';
      grid-gap: 2rem;
      justify-items: start;
      align-items: center;
    }
  
    .logo {
      grid-area: logo;
      margin-bottom: 0;
    }
  
    .footer-tools {
      grid-area: links;
      margin-bottom: 0;
      align-self: end;
    }
  
    .footer-address {
      grid-area: address;
      justify-self: end;
      margin-bottom: 0;
      text-align: right;
    }
  
    .socials {
      grid-area: socials;
      margin-bottom: 0;
      height: 100%;
    }
  
    .social-Icon:first-child {
      padding-left: 0;
    }
  
    .copyright {
      grid-area: copyright;
      justify-self: end;
    }
  }
  
  @media screen and (min-width: 69.375rem) {
    .footer-container {
      max-width: 69.375rem;
      margin: 0 auto;
      padding: 3rem 6.25rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'logo address . socials'
        'links address . copyright';
      grid-gap: 0;
    }
  
    .logo {
      width: 10rem;
    }
  
    .footer-tool {
      font-size: var(--baseFontSize);
    }
  
    .footer-address {
      text-align: left;
      justify-self: start;
    }
  
    .socials {
      align-self: center;
      justify-self: end;
    }
  
    .social-Icon:last-child {
      padding-right: 0;
    }
  
    .copyright {
      align-self: end;
    }
  }
  
  @media screen and (min-width: 81.25rem) {
    .footer-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  