.lower {
    background: var(--lightCoral);
    position: relative;
  }
  
  .lower-container {
    padding: 5.25rem 1.5rem;
    text-align: center;
  }
  
  .lower-heading {
    color: var(--sacramentoGreen);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.75rem;
  }
  
  .lower::after {
    content: '';
    position: absolute;
    background-image: url('../assets/bg-pattern-home-6-about-5.svg');
    width: 200px;
    height: 124px;
    bottom: 0;
    left: 0;
  }
  
  @media screen and (min-width: 48rem) {
    .lower-container {
      padding: 4.75rem 6.125rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .lower-heading {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 69.375rem) {
    .lower-heading {
      font-size: 3rem;
    }
  }
  
  @media screen and (min-width: 77rem) {
    .lower::after {
      height: 144px;
    }
  }
  