.background {
    position: relative;
    width: 1440px;
    height: 2525;
    color: #FFFFFF;
}

.layer-one {
    position: absolute;
    background-color: #014E56;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 0px;
}

#headlines {
    position: absolute;
    width: 1087px;
    height: 48px;
    left: 188px;
    top: 73px;
}

#contact {
    position: absolute;
    width: 153px;
    height: 48px;
    left: 950px;
    top: 73px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
}

.contact-us{
    position: absolute;
    height: 48px;
    left: 19.92%;
    right: 21.57%;
    top: calc(50% - 28px/2 -1px);
    font-family: 'livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color:#FFFFfF;
    width: 140px;
    height: 42px;
    top: 2px;
    left: 4.5px;
    background-color: #014E56;
    border-radius: 24px;
    border: 0px solid #FFFFFF;
}
#left-headline {
    position: absolute;
    width: 357px;
    height: 40;
    left: 188px;
    top: 77px;
}

.myteam {
    position: absolute;
    width: 159.95;
    height: 40px;
    left: -188px;
    top: 38px;
}

#nav {
    position:absolute;
    width: 140px;
    height: 28px;
    left: 405;
    top: 83;
}

.home {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 65%;
    top: calc(50% - 28PX/2);
    font-family: 'livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:#FFFFFF;
}

.about {
    position: absolute;
    height: 28px;
    left: 63.57%;
    right: 0%;
    top: calc(50% - 28PX/2);
    font-family: livvic;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:#FFFFFF;
}

a {
    color:#FFFFFF;
}

#red {
    color: red;
}

.pattern {
    position: absolute;
    height: 200px;
    width: 200px;
    fill: none;
    fill-rule: evenodd;
    left: 49px;
    top: 238;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

header.mid-content {
    position: absolute;
    width: 1110px;
    height: 200px;
    left: 165px;
    top: 250px;
}

.mid-content #mid-left {
    position: absolute;
    width: 535px;
    height: 200px;
    left: 165px;
    top: 250px;
    font-family: 'livvic';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100%;
    color:#FFFFFF;
}

.mid-content #mid-right {
    position: absolute;
    width: 445px;
    height: 195px;
    left: 830px;
    top: 250;
    color: #FFFFFF;
}

  #brief {
    position: absolute;
    height: 112px;
    left: 0%;
    right: 0%;
    top: calc(50% - 0px/2 + 300.5px);
    font-family: livvic;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

#rectangle{
    position: absolute;
    left: 0%;
    right: 88.76%;
    top: 0%;
    bottom: 97.95;
    background: white;
}

.middle-page {
    position: absolute;
    width: 1440px;
    height: 684px;
    left: 0px;
    top: 700px;
    background-color: #012f34;
}


#middle-mid {
    position: absolute;
    width: 1110px;
    height: 404px;
    left: 165px;
    top: 140px;
}

#midd-left {
    position: absolute;
    width: 445px;
    height: 202px;
    left: 165px;
    top: 140px;
    bottom: 342px;
}

#build {
    position: absolute;
    width: 445px;
    height: 144px;
    left: -165px;
    top: -198px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

#mid-rectangle {
    position: absolute;
    width: 50px;
    height: 4px;
    left: -165px;
    top: -200px;
    background: #F67E7E;
}

#right-mid {
    position: absolute;
    width: 540px;
    height: 346px;
    left: 655px;
    top: 140px;
}

#right-one {
    position: absolute;
    width: 540px;
    height: 94px;
    left: 0px;
    top: -140px;
}

#right-one h4 {
    position: absolute;
    height: 28px;
    left: 0px;
    top: -20px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}


#right-one p {
    position: absolute;
    height: 50px;
    left: 0%;
    right: 0%;
    top: calc(50% - 50px/2 + 22px);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8
}

#right-two {
    position: absolute;
    width: 540px;
    height: 94px;
    left: 0px;
    top: -24px;

}
#right-two h4 {
    position: absolute;
    height: 28px;
    left: 0px;
    top: -20px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

#right-two p {
    position: absolute;
    height: 50px;
    left: 0%;
    right: 0%;
    top: calc(50% - 50px/2 + 22px);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8
}

#right-three {
    position: absolute;
    width: 540px;
    height: 94px;
    left: 0px;
    top: 102px;
}

#right-three h4 {
    position: absolute;
    height: 28px;
    left: 0px;
    top: -20px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

#right-three p {
    position: absolute;
    height: 50px;
    left: 0%;
    right: 0%;
    top: calc(50% - 50px/2 + 22px);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8
}